<div class="parent" data-controller="date-picker">
  <div class="header">
    <div class="div6">Available time</div>
    <div class="date-picker">
      <%# <button type="button" class="date-button btn btn-secondary" data-action="date-picker#changeDate" data-direction="-1">◀</button> %>
       <% current_date = if params[:date].present? %>
  <% Date.parse(params[:date]) %>
<% elsif timeslots.any? %>
  <% timeslots.first.start_time.to_date %>
<% else %>
  <% Date.today %>
<% end %>
            <%= link_to "◀", park_path(park, date: current_date - 1.day), class: "date-button btn btn-secondary" %>
 <span id="selected-date" data-date-picker-target="dateDisplay">
        <%= current_date.strftime("%Y-%m-%d") %>
      </span>
      <%# <button type="button" class="date-button btn btn-secondary" data-action="date-picker#changeDate" data-direction="1">▶</button> %>
      <%= link_to "▶", park_path(park, date: current_date + 1.day), class: "date-button btn btn-secondary" %>
    </div>
  </div>

  <div class="timeslot-container d-grid gap-3" data-date-picker-target="timeslotContainer">
    <% if timeslots.any? %>
      <% timeslots.each do |timeslot| %>
        <div class="timeslot p-2 bg-light border" data-start-time="<%= timeslot.start_time.strftime("%H:%M") %>" data-end-time="<%= timeslot.end_time.strftime("%H:%M") %>">
          <%= button_to "Book now", timeslot_bookings_path(timeslot),
          data: {turbo_method: :post},
          class: "btn btn-primary floating-button2" %>
          <div class="time-details">
            <p><%= timeslot.start_time.strftime("%H:%M") %> ~ <%= timeslot.end_time.strftime("%H:%M") %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No available time slots.</p>
    <% end %>
  </div>
</div>
