<div class="header">
<h1>List of Parks</h1>
</div>


<div class="park">


<div class="parkCard">
  <% @parks.each do |park| %>
    <% favourite = @favourites.find_by(park: park) %>

    <div class="park-wrapper">
      <%= render partial: "parks/park", locals: { park: park } %>

      <div class="heart-button">
        <% if favourite.present? %>
          <form action="<%= favourite_path(favourite, redirection: "parks") %>" method="POST">
            <button type="submit"> 💖 </button>
          </form>
        <% else %>
          <form action="<%= park_favourites_path(park) %>" method="POST">
            <button type="submit"> 🖤 </button>
          </form>
        <% end %>
      </div>
    </div>

  <% end %>
</div>




<div style="width: 500px; height: 1200px; "
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

</div>
