<div class="header">
  <h1>List of Parks</h1>
</div>


<div class="park">

  <div class="parkCard">
    <% @parks.each do |park| %>
      <% favourite = @favourites.find_by(park: park) %>
      <div class="park-wrapper">
        <%= render partial: "parks/park", locals: { park: park } %>
        <div class="heart-button">
          <% if favourite.present? %>
          <%= link_to "💖",
      favourite_path(favourite),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          <%else %>
            <%= simple_form_for [park, Favourite.new] do |f| %>
              <%= f.submit "🖤"%>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


      <div id="map">
        <div style="width: 500px; height: 1200px"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
</div>
