<h1><%= @park.name %></h1>

<%= @park.description %>


<%= render "timetable", timeslots: @timeslots %>

<br>
<%= image_tag @park.image %>
<br>
<div style="width: 50%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
